@use './variables.scss' as *;

/** reset.css */
body {
  font-family: var(--#{$prefix}-font-family);
  font-weight: 400;
  font-size: var(--#{$prefix}-font-size-base);
  line-height: calc(var(--#{$prefix}-font-size-base) * 1.2);
  color: var(--#{$prefix}-text-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--#{$prefix}-color-primary);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--#{$prefix}-color-primary-light-3);
  }

  &:active {
    color: var(--#{$prefix}-color-primary-dark-2);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--#{$prefix}-text-color-regular);
  font-weight: inherit;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: calc(var(--#{$prefix}-font-size-base) + 6px);
}

h2 {
  font-size: calc(var(--#{$prefix}-font-size-base) + 4px);
}

h3 {
  font-size: calc(var(--#{$prefix}-font-size-base) + 2px);
}

h4,
h5,
h6,
p {
  font-size: inherit;
}

p {
  line-height: 1.8;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

sup,
sub {
  font-size: calc(var(--#{$prefix}-font-size-base) - 1px);
}

small {
  font-size: calc(var(--#{$prefix}-font-size-base) - 2px);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--#{$prefix}-border-color-lighter);
}
