$prefix: 'arch';

$transition-duration-1: 0.1s;
$transition-duration-2: 0.2s;
$transition-duration-3: 0.3s;
$transition-duration-4: 0.4s;
$transition-duration-5: 0.5s;
$transition-duration-loading: 1s;
