@use '@arch-ui/arch-ui-vue/_style/index.scss' as *;

$icon-prefix-cls: '#{$prefix}-icon';

.#{$icon-prefix-cls} {
  --icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--icon-color);
  font-size: inherit;
}
